extends _layout

block layout-content 
    body 
        h1 MovDB
        h3 A simple movie watch list
        form(method='post' action='/insert')
            div 
                label(for="movieTitle") Movie title
                br
                input(type="text", name="movieTitle")
                br
                label(for="movieDate") Release date
                br
                input(type="date", name="movieDate")
                br
                label(for="moviePlatform") Streaming Platform
                br 
                select(name="moviePlatform")
                    option(value="###") Select
                    option(value="netflix") Netflix  
                    option(value="prime") Amazone Prime
                    option(value="disneyplus") Disney+  
                br
                label(for="") TODO: Genre Table! 
                br
                label(for="") TODO: Studio Table!
                br
                input(type="submit", value="Add")
